* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
  font-family: 'Anton', sans-serif;
  color: #fff;
  background-color: #f2f2f2;
}
.hero {
	background: #fff;
	min-height: 50vh;
  
  max-width: 100%;
	display: flex;
	align-items: center;
}

.texto {
	width: 100%;
	color: transparent;
	text-align: center;
	
	font-size: 180px;
	font-weight: bold;

	background-image: url('./img/5.jpg');
	background-size: cover;
	background-position-y: 700px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}


input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-right: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between; 
   
}

.card p {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  
  
}

.card img {
  max-height: 100px;
  
  
  
  
  
}

/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 900px) {

  .hero {
    background: #fff;
    min-height: 30vh;
    
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  
  .texto {
    width: 100%;
    color: transparent;
    text-align: center;
    
    font-size: 90px;
    font-weight: bold;
  
    background-image: url('./img/5.jpg');
    background-size: cover;
    background-position-y: 700px;
    
    background-clip: text;
    -webkit-background-clip: text;
  
    -webkit-text-fill-color: transparent;
  }

}

@media screen and (max-width: 715px) {

  .hero {
    background: #fff;
    min-height: 15vh;
    
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  
  .texto {
    width: 100%;
    color: transparent;
    text-align: center;
    
    font-size: 40px;
    font-weight: bold;
  
    background-image: url('./img/5.jpg');
    background-size: cover;
    background-position-y: 700px;
    
    background-clip: text;
    -webkit-background-clip: text;
  
    -webkit-text-fill-color: transparent;
  }

}
